:root {
  --primary-color: orange;
  --transition: all .3s ease;
}

.container {
  width: 100px;
  background: var(--primary-color);
  transition: var(--transition);
  &-button {
    border: 1px solid red;

    &__light {
      color: white;
    }
  }

  &:hover {
    scale: 1.5
  }
}

body {
  padding: 0;
}