:root {
  font-size: 16px;
  font-family: "Roboto", serif;
  --primary-bg-color: #FFD868;
  --secondary-bg-color: #ffffff;
  --tertiary-bg-color: #721B65;
  --primary-text-color: hsla(0, 0%, 0%, 0.6);
  --secondary-text-color: var(--tertiary-bg-color);
  --tertiary-text-color: var(--secondary-bg-color);
  --light-text: 300;
  --regular-text: 400;
  --medium-text: 600;
  --bold-text: 700;
  --dark-text: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  padding: 0.8rem 1.8rem;
  color: var(--secondary-text-color);
  background: var(--secondary-bg-color);
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  font-weight: var(--medium-text);
  cursor: pointer;
}
.btn__cta {
  background: var(--tertiary-bg-color);
  color: var(--tertiary-text-color);
}

.container {
  background: var(--secondary-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 2rem;
}
.container:nth-child(odd) {
  background: var(--primary-bg-color);
}
.container-img {
  max-height: 800px;
  max-width: 50%;
  align-self: flex-end;
}
@media (max-width: 800px) {
  .container-img {
    display: none;
  }
}
.container#landing .container-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4rem;
  gap: 2rem;
}
.container#landing .container-part_title {
  color: var(--secondary-text-color);
  font-size: 4rem;
  text-transform: capitalize;
}
.container#landing .container-part_text {
  color: var(--primary-text-color);
  font-size: 1rem;
  font-weight: var(--regular-text);
}
.container#landing .container-part_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
}
.container#landing .container-part_buttons .btn {
  width: max(150px, 50% - 1rem);
}
.container#certificat {
  padding: 4rem 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .container#certificat {
    flex-direction: column;
    padding: 4rem 1rem;
  }
}
.container#certificat .img {
  height: 100%;
  padding: 2rem;
}
.container#certificat .img img {
  max-height: 400px;
}
.container#certificat .container-part {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2rem;
  text-align: right;
}
.container#certificat .container-part_title {
  color: var(--primary-text-color);
  font-size: 3rem;
}
.container#certificat .container-part_title .dark {
  color: black;
}
.container#carrousel {
  flex-direction: column;
  padding: 2rem 0;
}
.container#carrousel .container-head_title {
  color: var(--secondary-text-color);
  font-size: 3rem;
  padding: 0 2rem 2rem;
}
.container#carrousel .container-body {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.container#carrousel .container-body .carrousel {
  display: flex;
  max-height: 450px;
  max-width: 90%;
  overflow: hidden;
  gap: 6rem;
}
.container#carrousel .container-body .carrousel-item {
  height: 424px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-inline: 3rem;
}
.container#carrousel .container-body .carrousel-item img {
  max-height: 324px;
}
.container#carrousel .container-body .carrousel-item figcaption {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 2;
  background: var(--tertiary-bg-color);
  font-weight: var(--medium-text);
  font-size: 1.1rem;
  color: var(--tertiary-text-color);
  text-align: center;
  padding: 1.5rem 3rem;
  height: 100px;
}
.container#carrousel .container-footer {
  padding-top: 2rem;
}
.container#carrousel .container-footer a {
  color: var(--secondary-text-color);
  font-size: 1rem;
  font-weight: var(--medium-text);
  text-decoration: none;
}
.container#conclusion {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem 4rem;
}
.container#conclusion .container-title {
  color: var(--primary-text-color);
  font-size: 3rem;
  font-weight: var(--medium-text);
  text-align: left;
  width: 100%;
}
.container#conclusion .container-title .dark {
  color: black;
}
.container#conclusion .container-text {
  width: 100%;
  color: var(--primary-text-color);
  font-size: 1rem;
  font-weight: var(--light-text);
  text-align: left;
}
.container#conclusion .container-button {
  width: max(30%, 150px);
  margin-top: 2rem;
}

footer .container {
  background: var(--secondary-bg-color) !important;
  padding: 2rem 0;
}
footer .container .social {
  padding: 1rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--tertiary-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .container .social .icon {
  width: 25px;
}

/*# sourceMappingURL=style.css.map */
